$white: #F0F1F1;
$olive: #5E5322;
$yellow: #FAD648;
$dark-yellow: #7A6613FF;
$lighter-gray: #C7BEBEFF;
$light-gray: #737373;
$dark-gray: #3C3C3C;
$dark-green: #2F570A;
$background-gray: #F0F1F1;
$visited-blue: #1559A6FF;
$text-color: #FFFFFF;
$black: black;

